{% extends "admin/change_list.html" %}
{% load i18n %}
{% load admin_urls %}

{% block object-tools-items %}
  {% if has_import_permission %}
  <li>
    <a href="{% url opts|admin_urlname:'import' %}" class="import_link">
      {% blocktrans with cl.opts.verbose_name as name %}Import {{ name }}{% endblocktrans %}
    </a>
  </li>
  {% endif %}
  {% if has_export_permission %}
  <li>
    <a href="{% url opts|admin_urlname:'export' %}" class="export_link">
      {% blocktrans with cl.opts.verbose_name as name %}Export {{ name }}{% endblocktrans %}
    </a>
  </li>
  {% endif %}
  {{ block.super }}
{% endblock %}
